<div class="mask">
  <div class="m-card">
    <button type="button" class="m-card__close-btn">閉じる</button>
    <h2>試合表を変更</h2>
    <div class="m-card__list">
      <%= image_tag 'men.svg', class: 'm-card__list--img' %>
      <%= image_tag 'sankaku.svg', class: 'm-card__list--img' %>
      <%= image_tag 'ippon.svg', class: 'm-card__list--img' %>
    </div>
  </div>
</div>
<h1>試合表</h1>
<span>2020/8/6(水)</span>
<button type="button" class="print" onclick="window.print();">印刷</button>
<div class="match-table">
  <div class="match-table__list">
    <div class="match-table__list--cell">佐藤</div>
    <div class="match-table__list--cell2">
      <%= image_tag 'men.svg', class: 'match-table__icon' %>
      <%= image_tag 'men.svg', class: 'match-table__icon' %>
    </div>
    <div class="match-table__list--cell2"></div>
    <div class="match-table__list--cell">田中</div>
  </div>
  <div class="match-table__list">
    <div class="match-table__list--cell">鈴木</div>
    <div class="match-table__list--cell2"></div>
    <div class="match-table__list--cell2"></div>
    <div class="match-table__list--cell">武藤</div>
  </div>
  <div class="match-table__list">
    <div class="match-table__list--cell">鈴木</div>
    <div class="match-table__list--cell2"></div>
    <div class="match-table__list--cell2"></div>
    <div class="match-table__list--cell">武藤</div>
  </div>
  <div class="match-table__list">
    <div class="match-table__list--cell">鈴木</div>
    <div class="match-table__list--cell2"></div>
    <div class="match-table__list--cell2"></div>
    <div class="match-table__list--cell">武藤</div>
  </div>
  <div class="match-table__list">
    <div class="match-table__list--cell">鈴木</div>
    <div class="match-table__list--cell2"></div>
    <div class="match-table__list--cell2"></div>
    <div class="match-table__list--cell">武藤</div>
  </div>
  <div class="match-table__list">
    <div class="match-table__list--cell">○○高校</div>
    <div class="match-table__list--cell">△△高校</div>
  </div>
</div>
